/* Login */

.login_pagina{
display: flex;
justify-content: center;
margin: 5px;
padding:10px ;
background-color: rgb(255, 255, 255);
width: 200px;
height: 200px;
}
    
.login_pagina button{
display: flex;
justify-content: center;
}

  


/* dashboard */




/* details orders */